body {
  margin: 0;
}

h2 {
  margin: 0;
}

@font-face {
  font-family: odin-custom;
  src: url(./Norse-Bold.otf);
}

div.container {
  display: flex;
}

div.left {
  background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
  background-size: 150%;
  background-position: top;
  width: 40vw;
  height: 100vh;
  position: relative;
}

div.left > img.leaves {
  height: 100vh;
}

div.left > div.bar {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  height: 20%;
  width: 100%;
  top: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.left > div.bar > h1.card-title {
  color: white;
  font-size: 90px;
  font-family: odin-custom;
  margin-left: 20px;
}

div.left > div.bar > img.odin-logo {
  height: 140px;
}

div.right {
  --element-padding: 180px;
  max-width: 67vw;
  font-family: Arial, Helvetica, sans-serif;
}

div.right > form {
  background-color: rgb(246, 246, 246);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

div.right > form > div.description,
div.inputs,
div.confirmation {
  padding-left: var(--element-padding);
  font-size: 1.1rem;
}

div.right > form > div.description {
  padding-right: 320px;
  padding-bottom: 30px;
}

div.right > form > div.inputs {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 50px;
}

div.right > form > div.inputs > h2 {
  margin-bottom: 30px;
}

label {
  margin-bottom: 6px;
}

input {
  border-radius: 5px;
  height: 1.6rem;
  font-size: 1.2rem;
  border: 2px solid rgb(77, 77, 77);
}

div.fields {
  display: flex;
}

div.field {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-bottom: 10px;
}

div.right > form > div.confirmation {
  padding-top: 18px;
}

div.right > form > div.confirmation > button.create-account {
  background-color: rgb(83, 109, 22);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  border-radius: 12px;
  padding: 15px 30px;
  cursor: pointer;
}

div.right > form > div.confirmation > p > a {
  text-decoration: none;
  color: green;
}
